html{
    font-family: "Roboto", sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

ul{

}

.links,
.hero-second{
    font-size: 18px;
    color: #e5e7eb;
}

.top{
    background-color: #1f2937;
}

.left{

}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.hero-main{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-second{
    
}

.signup-top{
    background-color: #3882f6;
}

.right{

}

.links{

}

.img-placeholder{
    color: #e5e7eb;
}